header{
    display: inline-block;
    position:absolute;
    width: 100%;
    display:block;
    left: 0;
    height:80px;
    text-align: center;
    box-shadow: 0 6px 11px burlywood;
}
.Logo{
    position:relative;
    left:-510px;
    height:60px;
    padding:6px 16px;
    margin:5px;
}
#Name{
    position:relative;
    left:-530px;
    top:-11px;
    font-size:200%;
    display:inline-block;
    text-align: center;
    margin:5px;
    font-style:italic;
    
}
.Acco{
    margin:100px;
    display: inline-block;
    position:absolute;
    left:330px;
    font-size:300%;
    display:block;
    text-align: center;
    box-shadow: 0 6px 11px burlywood;
}
p{
    margin:200px;
    display: inline-block;
    position:absolute;
    left:180px;
    box-shadow: 0 6px 11px burlywood;
    text-transform:uppercase;
    font-style:italic;
    }
    .Hotel1{
    margin:250px;
    display: inline-block;
    position:absolute;
    left:-210px;
    font-size:300%;
    display:block;
    text-align: center;
    box-shadow: 0 6px 11px burlywood;
    }
    .Hotel2{
    margin:250px;
    width:30%;
    display: inline-block;
    position:absolute;
    left:630px;
    font-size:300%;
    display:block;
    text-align: center;
    box-shadow: 0 6px 11px burlywood;
    }
    .ADD1{
    margin:350px;
    display: inline-block;
    position:absolute;
    left:-280px;
    font-size:100%;
    display:block;
    text-align: center;
    box-shadow: 0 6px 11px burlywood;
    }
    .ADD2{
    margin:350px;
    width:30%;
    display: inline-block;
    position:absolute;
    left:530px;
    font-size:100%;
    display:block;
    text-align: center;
    box-shadow: 0 6px 11px burlywood;
    }
    aside{
     top:260px;
    display: inline-block;
    position:relative;
    left: 460px;
    display:block;
    }